/**/
/*search bar*/
/**/
.widget-search form input[type='search'] {
    height: 60px;
    padding: 0 25px;
    width: calc(100% - 100px);
    float: right;

    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;

    border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;

}

.widget-search form .search-submit {
    width: 100px;
    line-height: 60px;
    height: 60px;
    left: 0;
    border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;

    border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

.index-search input {
    direction: rtl;
}
/**/
/*end of search bar*/
/**/


/**/
/*categories*/
/**/
.banners {
    margin-top: 30px;
}

.banners .left-one {
    background-color: white;
    border: 3px solid #f27c66;
    color: #595959;
    cursor: default;
}
/*.banners .left-one:hover {*/
    /*background-color: #f27c66;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-two {
    background-color: white;
    border: 3px solid #f9cb8f;
    color: #595959;
    cursor: default;
}
/*.banners .left-two:hover {*/
    /*background-color: #f9cb8f;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-three {
    background-color: white;
    border: 3px solid #18bb7c;
    color: #595959;
    cursor: default;
}
/*.banners .left-three:hover {*/
    /*background-color: #18bb7c;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-four {
    background-color: white;
    border: 3px solid #1992c1;
    color: #595959;
    cursor: default;
}
/*.banners .left-four:hover {*/
    /*background-color: #1992c1;*/
    /*color: #ffffff !important;*/
/*}*/

.banners .left-one p{
    font-size: 12px;
}


.banners .left-two p{
    font-size: 12px;
}


.banners .left-three p{
    font-size: 12px;
}


.banners .left-four p{
    font-size: 12px;
}

.cat-left-first, .cat-left-second, .cat-right-first, .cat-right-second, .cat-right-sub1, .cat-right-sub2{
    margin-bottom: 30px;
}
.cat-left-first a, .cat-left-second a, .cat-right-first a, .cat-right-second a, .cat-right-sub1 a, .cat-right-sub2 a{
    vertical-align: top;
}
.cat-left-first {
    min-height: 522px;
    background-size: 70%;
    transition: background-size .9s ease-in;
    -moz-transition: background-size .9s ease-in;
    -web-kit-transition: background-size .9s ease-in;
}

.cat-left-first, .cat-left-second, .cat-right-first, .cat-right-second, .cat-right-sub1, .cat-right-sub2 {
    background-position: left bottom;
    background-size: 70%;
    transition: background-size .9s ease-in;
    -moz-transition: background-size .9s ease-in;
    -web-kit-transition: background-size .9s ease-in;
}

.cat-left-first:hover, .cat-left-second:hover, .cat-right-first:hover, .cat-right-second:hover, .cat-right-sub1:hover, .cat-right-sub2:hover {
    background-size: 72%;
    cursor:pointer;
}

.cat-left-first > * {
    vertical-align: top;
}

.cat-right-sub1 , .cat-right-sub2 {
    width: 47.5%;
}
.cat-right-sub1 {
    float: left;
}
.cat-right-sub2 {
    float: right;
}
.cat-right-sub1, .cat-right-sub2{
    display: block;
    min-height: 246px;
    max-height: 246px;
    overflow: hidden;
}

.banner-offer + .banner-offer {
     margin-top: 0;
}

.cat-right-first {
    display: block;
    min-height: 246px;
    max-height: 246px;
    overflow: hidden;
}

.cat-left-second, .cat-right-second {
    display: inline-block;
    min-height: 235px;
    max-height: 235px;
}

.banner-offer.bg-color-1alt {
    background-color: #d36c59 !important;
}
.banner-offer.bg-color-5alt {
    background-color: #969696 !important;
}
.banner-offer.bg-color-5 {
    background-color: #b0b0b0 !important;
}
.banner-offer.bg-color-6 {
    background-color: #5f5f5f !important;
}
.banner-offer.bg-color-6alt {
    background-color: #454545 !important;
}

/**/
/*end of categories*/
/**/


/**/
/*align of the "fa" class*/
/**/
.category-button i {
    font-size: 36px;
    float: right;
    margin-left: 8px;
}

.fa {
    /*float: right;*/
    /*margin-left: 8px;*/
    line-height: inherit;
}

.cws-button.icon-right i {
    margin-right: 7px;
    float: left;
}

#scroll-top i {
    float: none;
     margin-left: 0px;
}

.service-icon i {
    line-height: 110px;
}

@media screen and (max-width: 767px){
    .service-icon i {
        line-height: 65px;
        font-size: 38px;
    }
}

.bread-crumb i {
    float: none;
}
/**/
/*end of align of the "fa" class*/
/**/




.slick-hero-slider-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

.slick-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    zoom: 1;
}

/**/
/*course grid page*/
/**/
.course-grid-category-search {
    margin-bottom: 0;
    direction: rtl;
}

.course-grid-category-search .cws-button.smaller {
    margin-left: 18px;
}

.course-item {
    max-height: 500px;
}

.course-item .course-name .price {
    float: left;
    color: #ffffff;
}

.course-item .course-name h3 {
    float: right;
    color: #ffffff;
}

.course-item-tooman {
    margin-right: 5px;
}

.course-item .description{
    height: 80px;
    overflow : hidden;
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
}

.description {
    direction: rtl;
}

.title-carousel h2{
    float: right;
}

.carousel-nav {
    text-align: left;
}

/**/
/*end of course grid page*/
/**/


.main-nav ul li {
    float: right;
}
/*.main-nav ul li ul{*/
    /*right: 0px !important;*/
    /*left: -100px !important;*/
/*}*/

.main-nav ul li ul {
    margin-right: 1px;
}

/*.main-nav ul .home ul, #menu-i6tem-34 ul, #menu-item-38 ul, #menu-item-41 ul, #menu-item-46 ul{*/
    /*right: 0px !important;*/
    /*left: -100px !important;*/

.main-nav>ul>li>ul a:before {
    padding-left: 5px;
}

/*.mian-nav ul .home a:before {*/
    /*display: none;*/
/*}*/

/**/
/*footer*/
/**/
footer h2:before {
    margin-left: 8px;
}

.footer-nav ul li {
    float: right;
}

.footer-nav>ul>li>a:before {
    content: "|";
    color: #8f96a2;
    margin-left: 18px;
}

.footer-nav>ul>li>a:after {
    content: none;
}

.footer-social {
    float: right;
    direction: rtl;
}

.footer-about address a:before {
    float: right;
    margin-left: 8px;
}
/**/
/*end of footer*/
/**/

address {
    direction: rtl;
}

#demos {
    padding: 0px;
}


/**/
/*reversing the collumns*/
/**/


/*.grid-col-row {*/
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
/*}*/

/**/
/*end of reversing the collumns*/
/**/

/**/
/*pricing plan*/
/**/

.pricing-table .header-pt h3 {
    line-height: 60px;
    font-size: 30px;
}

.price-pt {
    direction: rtl;
}

.price-pt .tooman {
    font-size: 35px;
    display: block;
}

.pricing-table ul li:nth-child(2n+1) {
    background-color: #FFFFFF;
}

.pricing-table ul li {
    background-color: #FFFFFF;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.pricing-table > ul > li:hover {
    background-color: #f2f2f2;
}

.pricing-table ul {
    margin-bottom: 34px;
}



/*.pricing-table {*/
    /*-webkit-transition: border-color 0.3s;*/
    /*transition: border-color 0.3s;*/
/*}*/


/*.pricing--rabten .pricing__item:hover .pricing__anim--2 {*/
    /*-webkit-animation-delay: 0.05s;*/
    /*animation-delay: 0.05s;*/
/*}*/

/*.pricing__anim {*/
    /*display: inline-block;*/
    /*position: relative;*/
/*}*/

/*.price-pt:hover .pricing__anim {*/
    /*-webkit-animation: moveUp 0.4s forwards;*/
    /*animation: moveUp 0.4s forwards;*/
    /*-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);*/
    /*animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);*/
/*}*/

/*.price-pt:hover .pricing__anim--2 {*/
    /*-webkit-animation-delay: 0.05s;*/
    /*animation-delay: 0.05s;*/
/*}*/

/**/
/*end of pricing plan*/
/**/

/**/
/*must be changed in main css later*/
/**/

/*ul li:before {*/
    /*content: none;*/
/*}*/

/*ul li:after {*/
    /*content: "\f111";*/
    /*font-family: "FontAwesome";*/
    /*font-size: 8px;*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*color: #f27c66;*/
    /*font-weight: 800;*/
    /*line-height: 35px;*/
/*}*/

/**/
/*end of must be changed in main css later*/
/**/

/**/
/*final approval*/
/**/

.factor .cart_totals{
    /*float: left;*/
}


.factor{
    background-color: white !important;
    color: #333333;
    min-width: 400px;
    width: 75%;
    margin: 0 auto;
}
.factor:hover{
    background-color: white !important;
}

.factor .factor-header {
    float: right;
    width: 100%;
}

.factor .factor-header img {
    background-color: #ffffff;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.factor .factor-header a {
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    /*display: inline-block;*/
}

.factor .factor-header h3 {
    text-align: center;
    margin: 10px 0;
    vertical-align: middle;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 400;
}

.factor .cart_totals{
    padding: 20px 0px;
    /*float: left;*/
    /*width: 50%;*/
}

.factor .cart_totals table {
    border: 1px solid #e1e1e1;
    width: 75%;
    margin: 15px auto;
    display: block;
    padding: 20px 0;
    border-top-left-radius: 12px;
    -ms-border-top-left-radius: 12px;
    -moz-border-top-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -ms-border-bottom-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
}

.factor .cart_totals h3{
    text-align: center;
    padding-bottom: 20px;
}

.factor .cart_totals {
    color: #333333;
}

.factor .cart_totals {
    overflow: hidden;
    clear: both;
}

.factor .cart_totals tr>* {
    text-align: center;
}

.factor .cart_totals tr:nth-child(2n+0) {
    background-color: #F9F9F9;
}

.factor .cart_totals table tbody {
    display: table;
    margin: 0 auto;
}

.factor a img {
    /*margin: 70px;*/
}

.factor .factor-name, .factor .cart_totals {
    /*display: inline-block;*/
}

/**/
/*end of final approval*/
/**/

/**/
/*final message*/
/**/

.final-message {
    width: 75%;
    margin: 0 auto 30px auto;
}

.final-message .banner-text:last-child {
    vertical-align: middle;
}

/**/
/*end of final message*/
/**/

/**/
/*register with phone number page*/
/**/

.login-right-align {
    text-align: right;
}

/**/
/*end of register with phone number page*/
/**/

/**/
/*page 404*/
/**/

.container-404 .number .zero {
    vertical-align: middle;
    padding: 5% 15px 0 15px;
}

/**/
/*end of page 404*/
/**/

/**/
/*page login and page register*/
/**/

.fullwidth-background.bg-2 {
    background-image: url(../pic/1920-1280-img-2.jpg);
    background-color: inherit;
}

.fullwidth-background.bg-2:before {
    content: none;
}

.centering {
    width: 100%;
    text-align: center;
}

.login-or {
    text-align: center;
}

.page-register-login-block {
    max-width: 450px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .span-or {
    width: 85px;
    left: 45%;
}

.page-register .error-alert {
    margin-bottom: 30px;
    text-align: right;
    border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.page-register-login-block .form-group .input-icon i {
    color: #5f5f5f;
}

.page-register .message {
    margin-top: 10px;
}

.page-register input[type='text'], .page-register textarea {
    font-style: normal;
}

.page-register input[type='submit'] {
    width: 100%;
}

#commentForm {
    width: 500px;
}
#commentForm label {
    width: 250px;
}
#commentForm label.error, #commentForm input.submit {
    margin-left: 253px;
}
#signupForm {
    width: 670px;
}
#signupForm label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
}
#newsletter_topics label.error {
    display: none;
    margin-left: 103px;
}

.remember-me {
    direction: rtl;
}

.login-block .form-group .input-icon {
    border-left: none;
}


/**/
/*end of page login and page register*/
/**/

/**/
/*page our staff*/
/**/

.carousel-button .next, .carousel-button .prev {
    vertical-align: middle;
}

.left-margin-none {
    margin-right: 0;
}

.item-instructor .instructor-avatar {
    float: right;
}

/**/
/*end of page our staff*/
/**/


/**/
/*profile*/
/**/

.profile-main .tabs .tabs-btn {
    float: right;
    padding-top: 5px;
    padding-bottom: 10px;

}

.profile-main .tabs-btn, .single-course-description .tabs-btn {
    margin-left: 2px;
}

.profile-main .tabs .fa {
    margin: 0 3px;
}

.profile-img-div{
    display: table;
    width: 120px;
    height: 120px;
    text-align: center;
    margin: auto;
}

.profile-img {
    border-radius: 50%;
}

.profile-sidebar .profile-credit-div{
    padding: 10px 15px 60px 15px;
    color: black;
}

.profile-sidebar .profile-credit-div .fa{
    float: left;
    color: #d36c59;
}

.profile-sidebar .profile-credit {
    float: right;
}

.profile-sidebar .profile-amount {
    float: left;
    padding: 0 5px;
}

.profile-sidebar .profile-tomaan {
    float: left;
}

.profile-credit-plus {
    font-size: xx-large;
}

#credit-modal .modal-content {
    width: 50%;
}

.profile-credit-modal {
    clear: both;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.profile-credit-modal h3 {
    text-align: center;
    color: #d36c59;
}

.profile-credit-modal .profile-amount {
    float: none;
    color: #f27c66;
    font-size: 30px;
}

.profile-credit-modal .profile-credit-input {
    margin: 50px auto;
    direction: rtl;
}

.profile-credit-modal .profile-credit-input input {
    width: 75%;
    display: inline-block;
    margin: 0 10px;
}

.bank {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding:10px;
    border: 2px solid #e1e1e1;
}

.bank img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.bank-pasargad {
    height: 60px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;
}

.bank-pasargad:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.bank-div {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;
}

.profile-side-menu {
    direction: rtl;
    text-align: right;
    margin-bottom: 30px;
}

.profile-side-menu h2 {
    float: right;
}

.profile-side-menu ul li a {
    padding-right: 15px;
}

@media screen and (max-width: 591px){
    .profile-main .tabs .tabs-btn {
        float: none;
        margin-left: 0 !important;
    }
}

.profile-main .container-tabs {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 420px;
}

.profile-main .container-tabs::-webkit-scrollbar, #profile-table::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.profile-main .container-tabs::-webkit-scrollbar-thumb, #profile-table::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #969696;
}

.profile-main .tabs .tabs-keeper {
    padding-top: 24px;
    padding-bottom: 24px;
}

.info-form {
    width: 80%;
    margin: 15px auto;
}

.profile-favorite {
    width: 80%;
    margin: 0 auto;
}

.profile-favorite label .profile-title{
    font-size: 20px;
    margin: 20px 0;
    color: black;
}

.info-form span {
    width: calc(100% - 30px);
}

.info-form p {
    position: relative;
}

.info-form i {
    position: absolute;
    top: 1px;
    left: 1px;
    line-height: 34px;
    text-align: center;
    width: 30px;
    /*background-color: #FFFFFF;*/
}

.info-form h3 {
    font-weight: 400;
}

.info-form form {
    margin-bottom: 30px;
}

/*.info-form input[type="text"][disabled] {*/
    /*background-color: white;*/
/*}*/

.form-tel {
    display: inline-block;
    width: 49%;
}

.form-button {
    width: 100%;
    text-align: center;
}

.profile-message .profile-message-img {
    border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    float: left;
    border: 1px solid #cfcfcf;
    padding: 3px;
    background-color: #ffffff;
    margin-right: 18px;
}

.profile-message span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 15px;
}

.profile-message .message-preview {
    width: 85%;
}

.profile-message .myBtn {
    margin-top: 7px;
}

.profile-message, .single-course-overview{
    text-align: right;
    direction: rtl;
}

.profile-message img{
    float: right !important;
    margin-right: 0 !important;
    margin-left: 18px !important;
}

.profile-message-content {
    clear: both;
    padding: 20px;
}

.profile-message-content .quote-avatar-author {
    float: right;
    margin: 5px 0 0 40px;
}

.profile-message-content .quotes {
    padding: 20px;
}

.profile-message-content q:before {
    margin-left: 0;
    content: "\201D";
}

.profile-message-content q:after {
    content: "\201C";
}

.profile-message .page-pagination {
    margin-bottom: 10px;
}

/*.already-seen {*/
    /*background-color: #f27c66 !important;*/
    /*color: #FFFFFF !important;*/
/*}*/

.profile-table .datagrid{
    width: 80%;
    margin: 25px auto;
}

#profile-table{
    overflow-x: auto;
    overflow-y: hidden;
}

.datagrid table tbody td {
    font-size: 15px;
    padding: 15px 15px;
    /*border-left: 1px solid #CFCFCF;*/
}

.datagrid {
    font-family: "IRANSans";
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.datagrid table {
    line-height: 24px;
}

.datagrid table thead {
    border-bottom: 1px solid #E6E6E6;
}

.datagrid table thead th {
    color: black;
    font-size: 15px;
}

.datagrid table th, .datagrid table td {
    padding: 12px 15px;
    border-left: 1px solid #E6E6E6;
}

.datagrid table th:last-child, .datagrid table td:last-child {
    border-left: hidden;
}

.datagrid table th, .datagrid table td {
    text-align: center;
}

.datagrid table th:nth-child(2), .datagrid table td:nth-child(2) {
    text-align: right;
}

.datagrid table .profile-edit i {
    float: right;
    margin: 2px;
}

.datagrid table .profile-edit a {
    color: #d36c59;
}

.js-example-basic-multiple {
    text-align: right;
    direction: rtl;
}

.select2-container .select2-search--inline {
    float: none;
}

.status-active, .status-deactive {
    width: inherit;
    height: inherit;
    font-size: 15px;
    padding: 3px;
    margin: auto;
}

@media screen and (max-width: 550px){
    .profile-button {
        margin-bottom: 10px;
    }
}

.confirm-button {
    display: none;
}

.profile-contact-us {
    direction: rtl;
}

.profile-courses .carousel-nav, .profile-packages .carousel-nav {
    text-align: left;
}

.profile-courses h2, .profile-packages h2 {
    float: right;
    margin-left: 5px;
}

.unseen {
    border: 2px solid #f27c66 !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*#credit-modal {*/
    /*overflow: hidden;*/
/*}*/

.credit-modal .credit-modal-content {
    margin: 8% auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 15px;
}

.day, .time {
    direction: rtl;
}

.day .fa, .time .fa {
    margin-right: 0 !important;
    margin-left: 4px;
}

.profile-packages .info-box .profile-packages-button {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 13px;
}

.profile-packages .bg-color-6 .profile-packages-button {
    color: #b0b0b0;
}

/**/
/*end of profile*/
/**/


/**/
/*course single item*/
/**/

img.avatar {
    margin-left: 10px;
    margin-right: 0;
}

.name h2 {
    margin-left: 10px;
}

.stars {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
}

.course-time {
    color: #595959;
    float: right;
    margin-left: 10px;
}

.course-time:hover {
    background-color: #f9cb8f;
    cursor: inherit;
}

.course-price {
    float: left;
}

.course-price-div {
    display: inline-block;
}

.course-price .course-amount {
    display: block;
    font-size: 30px;
    color: #f27c66;
    font-weight: 500;
    line-height: 1.3;
}

.course-main-nav {
    float: right;
}

.single-course-more-info .fa {
    vertical-align: middle;
    margin: 0 4px;
}

@media screen and (max-width: 479px){
    .course-main-nav{
        width: 100%;
        margin-top: 10px;
    }

    .course-main-nav .course-main-nav-inner {
        display: table;
        margin: 0 auto;
    }

    .course-price {
        margin: 10px 0 !important;
    }

    .course-price-div .course-price-inner-div {
        display: table;
        margin: 0 auto;
    }
    .single-course-more-info {
        text-align: center;
    }

    .single-course-more-info button {
        margin: 10px 0;
    }

}

@media screen and (max-width: 550px){
    .course-price-div {
        display: block;
        clear: both;
    }

    .name h2 {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .stars {
        float: left;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .single-course-more-info {
        clear: both;
        text-align: center;
    }

    .single-course-more-info button {
        margin: 10px auto;
    }
}

.single-course-description {
    color: black;
}

.single-course-description .container-tabs{
    direction: rtl;
    /*float: right;*/
}

.single-course-description .tabs-btn {
    float: right;
    padding-top: 5px;
    padding-bottom: 10px;
}

.single-course-description .tabs6 {
    border-top-color: #f27c66;
}

.single-course-description .tabs6 i {
    color: #f27c66;
    font-size: 20px;
}

.single-course-description .tabs6.lock {
    background-color: #F2F2F2;
    color: #888888;
}

/*.single-course-description .tabs-keeper {*/
    /*overflow: auto;*/
    /*display: inline-block;*/
/*}*/

.single-course-overview-img {
    width: 10%;
    float: right;
    text-align: center;
    display: block;
    margin: 0 10px;
}

.single-course-overview-img img {
    display: block;
    margin: 0 auto;
    border: 1px solid #cfcfcf;
    padding: 3px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.single-course-overview p {
    color: black;
}

.single-course-overview p span {
    float: right;
    padding-left:10px;
}

.single-course-overview-text {
    display: inline-block;
    /*width: 85%;*/
    padding: 0 10px;
}

/*.single-course-topics {*/
    /*direction: rtl;*/
    /*text-align: right;*/
/*}*/

.single-course-tabs-keeper ul li {
    padding-left: 0;
    padding-right: 20px;
}

.single-course-tabs-keeper ul li:before{
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 8px;
    position: absolute;
    right: 0px;
    color: #f27c66;
    font-weight: 800;
    line-height: 35px;
}

.single-course-tabs-keeper .single-course-exercise ul {
    margin-right: 15px;
}

.package-single-item-time {
    overflow: auto;
}

.package-single-item-time .widget-event {
    padding-right: 25px;
}

.single-course-time {
    overflow: auto;
}

.single-course-time .widget-event .date {
    width: 60px;
    height: 60px;
    line-height: 30px;
    float: right;
    background-color: #ebebeb;
    text-align: center;
    margin-left: 8px;
    overflow: hidden;
    color: #5f5f5f;
}

.single-course-time .widget-event .event-description {
    padding-top: 5px;
}

.single-course-time .widget-event .event-description span {
    display: inline-block;
}

.single-course-time .single-course-time-weekday {
    padding-left: 10px;
}

.single-course-time .widget-event .event-description span {
    font-size: 25px;
    padding-bottom: 0;
}

.single-course-time .map {
    display: inline-block;
    /*margin: 0 30px;*/
    float: left;
}

.single-course-place-div {
    display: inline-block;
    float: right;
}

.single-course-place {
    margin-right: 8px;
}

.single-course-teacher .carousel-nav{
    text-align: left;
}

.single-course-teacher h2{
    float: right;
}

.single-course-comments .comment-title, .single-course-comments .comment {
    text-align: right;
}

.single-course-comments .comment_container.second {
    margin-right: 36px;
    margin-left: 0;
}

.single-course-comments .meta strong{
    float: right;
    margin-left: 5px;
}

.single-course-reply {
    text-align: right;
}

.package-single-item-courses ul li {
    padding-right: 25px;
}

.package-single-item-courses ul li:before {
    content: "\f08e";
    font-size: 15px;
    line-height: 40px;
    font-weight: 100;
}

.single-course-time .map #map {
    height: 300px;
}

.single-course-time .map {
    width: 40%;
}

.course-exercises {
    margin-right: 20px;
}

.course-exercises p a {
    text-decoration: none;
}

.single-course-packages .single-course-packages-text {
    font-size: 250%;
    color: white;
}

.share-it {
    direction: rtl;
}

.share-it p, .share-it div {
    display: inline-block;
}

.share-it .fa {
    font-size: 35px;
    margin: 0 5px;
}

.share-it .social-link {
    margin: 0 10px;
}

.share-it .social-link a {
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.share-it .social-link a:hover {
    color: #f27c66;
}

    /**/
/*end of course single item*/
/**/

/**/
/*page shop cart*/
/**/

.page-receipt table thead th {
    border-left: 1px solid #18bb7c;
}

.page-receipt table tbody .cart_item>* {
    border-left: 1px solid #e1e1e1;
}

.page-receipt table thead .product-thumbnail {
    border-right: 1px solid #18bb7c;
}

.page-receipt table tbody .product-thumbnail {
    border-right: 1px solid #e1e1e1;
    border-left: none;
}

.page-receipt table tbody .product-name {
    text-align: right;
    padding-right: 10px;
    border-right: none;
}

.page-receipt table .product-name a:hover {
    color: #f27c66;
}

.page-receipt #coupon_code {
    margin-right: 0;
}

.page-receipt .title {
    text-align: right;
}

.page-receipt .title .button-back {
    float: left;
}

.page-receipt .title .button-back i {
    margin-right: 10px;
    margin-left: 0;
}

.page-receipt td.actions {
    text-align: left;
}

.page-receipt .actions .coupon {
    float: right;
    display: inline-block;
}

.page-receipt .cart-collaterals .cart_totals h3 {
    margin-right: 25px;
}

.page-receipt .shipping-calculator-form p:last-child {
    text-align: center;
    margin-top: 20px;
}

.page-receipt .shipping-calculator-form .how-to-pay-radio-check {
    direction: rtl;
}

.page-receipt .shipping-calculator-form .how-to-pay-radio-check .radio {
    margin-left: 5px;
}

.page-receipt .shipping-calculator-form .how-to-pay-radio-check span {
    margin-left: 10px;
}

.page-receipt .shipping-calculator-form .bank-pay, .page-receipt .shipping-calculator-form .credit-pay {
    display: none;
}

.page-receipt .shipping-calculator-form>:first-child:before {
    content: none;
}

.page-receipt .actions .available-coupon {
    display: inline-block;
    float: right;
    margin-right: 1px;
}

.available-coupon-value {
    border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

.available-coupon .info-boxes .close-button {
    left: 7px;
    right: inherit;
}

.available-coupon .info-boxes {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    min-height: 40px;
}

.page-receipt .actions .coupon-value {
    display: none;
    float: right;
}

.shop-cart-not-enough-credit-div {
    text-align: center;
}

.shop-cart-not-enough-credit-div .profile-credit-plus {
    vertical-align: bottom;
    color: #d36c59;
}

.shop-cart-not-enough-credit {
    text-align: center;
    color: #d36c59;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

/**/
/*end of page shop cart*/
/**/


/**/
/*page shop cart approval*/
/**/
.page-receipt-final .cart-collaterals .cart_totals h3 {
    margin-right: 0;
}

.page-receipt-final table {
    margin-bottom: 30px;
}

.page-receipt-final .cart-collaterals>*{
    margin: 0 auto;
    text-align: center;
}

.page-receipt-final .cart-collaterals {
    margin-left: 0;
}

.page-receipt-final .cart_totals .tooman {
    margin-right: 5px;
}

.page-receipt .cart_totals tr td {
    color: #595959;
}

.page-receipt .cart_totals tr th {
    color: #f27c66;
}
/**/
/*end of page shop cart approval*/
/**/


/**/
/*page teacher profile*/
/**/


.teacher-profile-info {
    direction: rtl;
}

.teacher-resume-link {
    text-align: center;
}

.teacher-profile-info ul li, .teacher-profile-info ol li {
    padding-right: 20px;
    padding-left: 0;
}

.teacher-profile-info ul.check-list li:after {
    content: "\f05a";
    font-family: "FontAwesome";
    font-size: inherit;
}

.teacher-profile-info ul.check-list li:before {
    content: none;
}

.teacher-profile-info ul li:after {
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 8px;
    position: absolute;
    right: 0px;
    color: #f27c66;
    font-weight: 800;
    line-height: 35px;
}

.teacher-profile-info ul li:before {
    content: none;
}

.teacher-skills .info-boxes {
    height: 60px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    /*direction: rtl;*/
    /*border-top-left-radius: 13px;*/
    /*-ms-border-top-left-radius: 13px;*/
    /*-moz-border-top-left-radius: 13px;*/
    /*-webkit-border-top-left-radius: 13px;*/
    /*border-bottom-right-radius: 13px;*/
    /*-ms-border-bottom-right-radius: 13px;*/
    /*-moz-border-bottom-right-radius: 13px;*/
    /*-webkit-border-bottom-right-radius: 13px;*/
}

.teacher-skills .info-boxes.alt {
    padding: 5px 16px 5px 60px;
}

.teacher-skills .owl-item:nth-child(4n+1) .confirmation-message ,
.teacher-skills .owl-item:nth-child(4n+1) .info-box-icon{
    border-color: #18bb7c;
}

.teacher-skills .owl-item:nth-child(4n+1) .info-box-icon i {
    color: #18bb7c;
}

.teacher-skills .owl-item:nth-child(4n+2) .confirmation-message ,
.teacher-skills .owl-item:nth-child(4n+2) .info-box-icon{
    border-color: #f9cb8f;
}

.teacher-skills .owl-item:nth-child(4n+2) .info-box-icon i {
    color: #f9cb8f;
}

.teacher-skills .owl-item:nth-child(4n+3) .confirmation-message ,
.teacher-skills .owl-item:nth-child(4n+3) .info-box-icon{
    border-color: #4bbcd7;
}

.teacher-skills .owl-item:nth-child(4n+3) .info-box-icon i {
    color: #4bbcd7;
}

.teacher-skills .owl-item:nth-child(4n+4) .confirmation-message ,
.teacher-skills .owl-item:nth-child(4n+4) .info-box-icon{
    border-color: #f27c66;
}

.teacher-skills .owl-item:nth-child(4n+4) .info-box-icon i {
    color: #f27c66;
}

/*.teacher-skills .info-boxes .info-box-icon {*/
    /*left: inherit;*/
    /*right: -2px;*/
/*}*/

.teacher-profile-courses {
    direction: rtl;
}

.teacher-profile-courses .category-item.list .picture {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

.teacher-profile-courses .star-rating>span {
    right: 0;
    left: inherit;
}

.teacher-profile-courses .teacher-courses-title:hover {
    color: #f27c66;
}

.hover-color:hover{
    color: #f27c66;
}

/**/
/*end of page teacher profile*/
/**/


/**/
/*page contact us*/
/**/
.contact-us-form .error-alert {
    text-align: right;
}

.contact-us-form .message {
    margin-top: 10px;
}
/**/
/*end of page contact us*/
/**/


/**/
/*top header panel*/
/**/
.header-top-panel-search {
    float: left;
}

.header-top-panel-sign-in a {
    width: 100px;
    margin: 0 10px;
}

.header-top-panel-sign-in .log-in {
    background-color: #18bb7c;
}

.header-top-panel-sign-in .sign-up {
    background-color: #4bbcd7;
}

.header-top-panel-sign-in .sign-out {
    background-color: #f27c66;
}

.header-top-panel-sign-in p {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 17px;
}

.header-top-panel .search-open {
    border-top-left-radius: 6px;
    -ms-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
}

.header-top-panel form.open input {
    border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

.header-top-panel-sign-in .log-in, .header-top-panel-sign-in .sign-up,
.header-top-panel-sign-in .sign-out {
    border-top-left-radius: 6px;
    -ms-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    font-size: 18px;
}

.header-top-panel form {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    left: auto;
}

.header-top-panel form input {
    float: left;
}

.page-header-top {
    padding: 10px 0;
}

.page-about-us-view-detail i {
    margin-left: 0 !important;
}

@media screen and (max-width: 650px) {
    .header-top-panel-sign-in {
        display: table;
        margin: 10px auto;
        float: none;
    }
    .header-top-panel-search {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .header-top-panel-sign-in a{
        clear: both;
    }
    .header-top-panel-sign-in p{
        /*margin-left: 0;*/
        margin: 0 auto;
        width: 100%;
    }
}

/**/
/*end of top header panel*/
/**/

/*custom*/
/*************************************************
our partner
*************************************************/

.our-colleagues .hover-effect {
    background-color: white;
}

.our-colleagues .link-cont a {
    color: black;
    border: 2px solid black;
}

/**********
css:
**********/


.profile-subscribe {
    margin: 20px 0;
}

.profile-subscribe .subscribe input[name="email"] {
    border: 1px solid #aaa;
    width: calc(100% - 73px);
}

.profile-main .container-tabs::-webkit-scrollbar,
.profile-subscribe .datagrid::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.profile-main .container-tabs::-webkit-scrollbar-thumb,
.profile-subscribe .datagrid::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #969696;
}

.profile-subscribe .status-active, .profile-subscribe .status-deactive {
    width: 85px;
    height: 25px;
    font-size: 15px;
    margin: 0 auto;
    font-weight: normal;
}

.profile-subscribe div {
    width: 90%;
    margin: 0 auto;
}

.profile-subscribe .desc {
    color: black;
}

.profile-subscribe .message-form {
    width: 80%;
    margin: 0 auto;
}

.profile-subscribe .message-form-message textarea{
    height: 115px;
}

